@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Betatron';
    src: url('../../public/fonts/Betatron-Regular.otf') format('truetype');
}

#glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #67E8F9, 0 0 40px #67E8F9, 0 0 50px #67E8F9, 0 0 60px #67E8F9, 0 0 70px #67E8F9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #A5F3FC, 0 0 40px #A5F3FC, 0 0 50px #A5F3FC, 0 0 60px #A5F3FC, 0 0 70px #A5F3FC, 0 0 80px #A5F3FC;
    }
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #67E8F9, 0 0 40px #67E8F9, 0 0 50px #67E8F9, 0 0 60px #67E8F9, 0 0 70px #67E8F9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #A5F3FC, 0 0 40px #A5F3FC, 0 0 50px #A5F3FC, 0 0 60px #A5F3FC, 0 0 70px #A5F3FC, 0 0 80px #A5F3FC;
    }
  }

#myBtn {
    border: none;
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 4px;
    transition: all 150ms ease;
    width: 220px;
    background: #00a2ff;
}
#myBtn:hover {
    cursor: pointer;
    letter-spacing: 2px;
    filter: brightness(105%);
}

#form{

  color: white;
}