@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Betatron';
    src: url('../../public/fonts/Betatron-Regular.otf') format('truetype');
}

#glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #67E8F9, 0 0 40px #67E8F9, 0 0 50px #67E8F9, 0 0 60px #67E8F9, 0 0 70px #67E8F9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #A5F3FC, 0 0 40px #A5F3FC, 0 0 50px #A5F3FC, 0 0 60px #A5F3FC, 0 0 70px #A5F3FC, 0 0 80px #A5F3FC;
    }
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #67E8F9, 0 0 40px #67E8F9, 0 0 50px #67E8F9, 0 0 60px #67E8F9, 0 0 70px #67E8F9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #A5F3FC, 0 0 40px #A5F3FC, 0 0 50px #A5F3FC, 0 0 60px #A5F3FC, 0 0 70px #A5F3FC, 0 0 80px #A5F3FC;
    }
  }

  #glow2 {
    color: #fff;
    text-align: center;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #86f5fc, 0 0 40px #86f5fc, 0 0 50px #86f5fc, 0 0 60px #86f5fc, 0 0 70px #86f5fc;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #9df4fa, 0 0 40px #9df4fa, 0 0 50px #9df4fa, 0 0 60px #9df4fa, 0 0 70px #9df4fa, 0 0 80px #9df4fa;
    }
  }

  @-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #86f5fc, 0 0 40px #86f5fc, 0 0 50px #86f5fc, 0 0 60px #86f5fc, 0 0 70px #86f5fc;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #9df4fa, 0 0 40px #9df4fa, 0 0 50px #9df4fa, 0 0 60px #9df4fa, 0 0 70px #9df4fa, 0 0 80px #9df4fa;
    }
  }

#myBtn {
    border: none;
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 4px;
    transition: all 150ms ease;
    width: 220px;
    background: #00a2ff;
}
#myBtn:hover {
    cursor: pointer;
    letter-spacing: 2px;
    filter: brightness(105%);
}

#form{
  color: white;
}

#wrapper {
  height: 5vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

#typing-demo1 {
  text-align: center;
  width: 26ch;
  animation: typing 1.2s steps(22), blink .5s step-end infinite alternate, remove-border 2s 2s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: white;
}
#typing-demo2 {
  width: 31ch;
  opacity: 0;
  animation: typing 1.2s steps(22) 2s, blink .5s step-end infinite alternate 2s, opacity-change 0s 2s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: white;
}
#typing-demo3 {
  text-align: center;
  width: 26ch;
  animation: typing 1.2s steps(22), blink .5s step-end infinite alternate, remove-border 2s 1.3s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.8em;
  color: white;
}
#typing-demo4 {
  width: 25ch;
  opacity: 0;
  animation: typing 1.2s steps(22) 2s, blink .5s step-end infinite alternate 2s, opacity-change 0s 2s forwards, remove-border 5s 1s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.8em;
  color: white;
}
#typing-demo5 {
  width: 7ch;
  opacity: 0;
  animation: typing 0.5s steps(8) 3.2s, blink .5s step-end infinite alternate 2s, opacity-change 0s 3.2s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.8em;
  color: white;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes remove-border {
  to {
    border-right-color: transparent;
  }
}

@keyframes opacity-change {
  to {
    opacity: 1;
  }
}